@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Playfair:ital,opsz,wght@1,5..1200,300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
}

h1 {
  color: rgb(204, 116, 185);
  font-family: 'Crimson Text', serif;
  font-family: 'Playfair', serif;
  font-size: 60px;
  margin-top: 3%;
}

.wrapper {
  background: url('fondo.jpg') no-repeat;
  background-size: 650px;
  position: absolute;
  width: 350px;
  height: 550px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  padding: 30px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.wrapper img {
  max-width: 100%;
  display: block;
  height: 200px; 
  align-items: center;
  margin: 0 auto;
}


.campo {
  margin-bottom: 10px; 
}


.campo input {
  width: 80%; 
  padding: 10px; 
  border: none; 
  border-bottom: 2px solid #91007d; 
  background: transparent; 
  outline: none; 
}


.campo input::placeholder {
  font-family: 'Crimson Text', serif;
  font-family: 'Playfair', serif;
  font-size: 20px;
  color: #888; 
  font-weight: normal; 
}

.btn-login {
  font-family: 'Crimson Text', serif;
  font-family: 'Playfair', serif;
  font-size: 20px;
  padding: 10px 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgb(187, 18, 128);;
  color: #fff;
}

.account {
  font-family: 'Crimson Text', serif;
  font-family: 'Playfair', serif;
  color: rgb(204, 116, 185);

}

